

body {
	
	font-family: Georgia, serif;
	margin:0px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	background-color:#eeeee9;
	padding:010px	
}
h1,h2,h3 {
	font-family: Garamond, serif;
	line-height:1.2;
}
h1 {
	font-family: Garamond, serif;
	font-size:32px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline;
}
a {
	color: MidnightBlue;
}
.center {
	text-align: center;
	word-spacing: 30px;
}
.imgthumb {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 5px;
	width: 200px;
	height: 125px;
	float: right;
}
.imgmain {
	border-radius: 4px;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
